header
{
    background-color: #5E4E4A;
    height: 180px;
}
body
{
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    color: black;
    background-color:#678c97;
}
footer
{
    background-color: #5E4E4A;
 padding: 15px;
}
.logotip
{
    float: left;
    width: 200px;
    height: 125px;
}
.container
 {
    max-width: 960px;
    margin: auto;
    color: #D7D1C5;
}
.head
{
    width:100%;
    padding: 15px; 
    height:150px;
    order: 1
}
.logotip-tiger
{
    float:left; 
margin:10px;
width:200px; 
height:133px;	
border-radius: 25px;
border: 3px solid #9E8576;
box-shadow: 0 0 7px #000;
}
.zagolovok
{
    width:350px; 
    background:#5E4E4A;
    color: #D7D1C5;
    padding:5px; 
    margin:30px; 
    border-width: 3px; 
    border-color: #9E8576; 
    border-style: dashed; 
    }
    .navigation {
        list-style: none;
        padding:10px;
        background-color: #5E4E4A;
        height: auto;
        line-height: 2;
        align-content: center;
        }
        table
        {
            color: black;
            border:1px solid black;
            width:500px;
        }
        td, th
        {
            border:1px solid black ;
            text-align: center;
        }
        .tr0
        {
            background-color: #678c97;
        }
        .tr1
        {
            background-color: rgb(0, 255, 21);
        }
        .tr2
        {
            background-color: rgb(0, 102, 255);
        }
            [src="Фигурки.png"]
        {
            outline: 18px solid black;
        }
.h1 
{
width:300px; 
background:#5E4E4A;
color: #D7D1C5;
padding:5px; 
border-width: 3px; 
border-color: #9E8576; 
border-style: solid; 

}
form
{
    margin: 25px;
}
.otstup
{
    margin-left: 2vh;
}
